// Override default colors
:root {
  --color-primary: #000000;
  --color-link: #000000;
  --color-btn-primary: #000000;
  --color-btn-primary-text: #ffffff;
}

// Apply styles
a {
  color: var(--color-link) !important;
  border-color: var(--color-link);
}

.btn {
  background-color: var(--color-btn-primary) !important;
  color: var(--color-btn-primary-text) !important;
  border-color: var(--color-btn-primary) !important;
}

svg {
  color: var(--color-primary);
}





.featured-blogs {
  margin-top: 20px;
  margin-bottom: 500px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.blog-card {
  background: #ffffff;
  color: #333;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  border: 1px solid #000000;
  // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  // margin-bottom: 50px;
  // border: none !important;
  // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 26.91px;
  // box-shadow: 0px 0px 5px 5px rgba(200, 200, 200, 0.1);
  border-style:dotted;
}

.blog-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.blog-card h3 {
  margin: 0 0 8px;
  font-size: 18px;
}

.blog-card .date {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

.blog-card .description {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
}

.blog-card .read-more {
  font-size: 13px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.blog-card .read-more:hover {
  text-decoration: underline;
}


// button styles
.see-more {
  font-size: 1rem;
  width: 10rem;
  z-index: 1000;
  color: #000000 !important;
  background-color: white !important;
  border: 1px solid #979797;
  border-radius: 50px;
  pointer-events: all;
  padding: 10px 5px;
  box-shadow: none;
}

.see-more:focus {
  outline: none;
}

.see-more:hover {
  background-color: #000000 !important;
  text-decoration: none;
  border: 1px solid #000 !important;
  color: #fff !important;
  transition: 0.2s ease-in-out;
}

.see-more a {
  text-decoration: none !important;
}

.site-footer {
  display: none !important;
}

.side-bar {
  width: calc((100% - 1064px)/3 + 264px);
  min-width: 300px;
}

.site-header {
  min-width: 280px;
}

.site-header a {
  font-family: fantasy, Georgia, 'Times New Roman', Times, serif
  // font-family: cursive, Georgia, 'Times New Roman', Times, serif
}