<blockquote>
    <strong>“You must understand black box theory and embrace the power of abstraction.</strong>  <br>
    Abstraction isn't just for OOP—it’s how we navigate a world full of unknowns.  <br>
    Instead of getting lost in the internal workings of everything, focus on what truly matters—one thing at a time—treat components as black boxes and abstract away unnecessary details.”
    <br><br>
    — <a id="random-link" href="https://www.instagram.com/gkc.in/" target="_blank">Me (hehe)</a>
</blockquote>

<script>
    const urls = [
        "https://www.instagram.com/gkc.in/",
        "https://github.com/gaurav-chaurasia",
        "https://linkedin.com/in/gaurav-chaurasia"
    ];
    document.getElementById("random-link").href = urls[Math.floor(Math.random() * urls.length)];
</script>
