<div class="post-meta">
    <span class="post-date">
        <span class="status-dot {% if page.state == 'Draft' %}status-draft{% else %}status-published{% endif %}"></span>
        {{ page.date | date: "%b %d, %Y" }}
    </span>

    {% if page.categories %}
    <span class="post-categories"> | 
        {% for category in page.categories %}
             <span class="meta-badge ml-1">{{ category }}</span>{% unless forloop.last %} {% endunless %}
        {% endfor %}
    </span>
    {% endif %}

    {% if page.tags %}
     <span class="post-tags"> |
        {% for tag in page.tags %}
             <span class="meta-badge ml-1">{{ tag }}</span>{% unless forloop.last %} {% endunless %}
        {% endfor %}
    </span>
    {% endif %}
</div>


<style>
.post-meta {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.post-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.meta-badge {
    background-color: #f4f4f4;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
}

.post-meta .post-date::before {
    margin-right: 5px;
}

.post-meta .post-categories::before {
    margin-right: 5px;
}

.post-meta .post-tags::before {
    margin-right: 5px;
}

.status-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.status-draft {
    background-color: #ff4444;
}

.status-published {
    background-color: #4CAF50;
}

</style>